.vc-clients-home .col-md-4{
    margin-bottom: 15px;
    
}


.vc-clients-home{
    .new-client-card{
        height: 222.17px;
        .add-icon{
            color: $green;
            font-size: 1.3rem;
            margin-top: -8px;
        }
        .add-label{
            margin-left: 5px;
            color: $gray;
            font-size: 1rem;
            line-height: 0rem;
            display: inline-block;
            margin-top: -12px;
        }
    }

    .client-total-outstanding{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-top;

        .amount{
            flex: 1;
            padding-top: 16px;
        }
    }
}

.vc-clients-deleted-list{
    .client-total-outstanding{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-top;

        .amount{
            flex: 1;
            padding-top: 16px;
        }
    }
}

.vc-client-form{
    h1.title{
        color: $primary;
        text-align: center;
        margin-bottom: 50px;
        font-weight: normal;
    }

    .form-fields{
        position: relative;
        float: left;
        width: 100%;
        padding: 2rem 2rem;
        background-color: $white;
        @include border-radius(0.3rem);
        @include box-shadow(0px 0px 40px -10px rgba(0,0,0,0.4));
        margin-bottom: 40px;

        >.form-fields-inner{
            position: relative;
            width: 70%;
            float: left;
            z-index: 1;
        }

        >.form-fields-inner.payment-form{
            width: 100%;
        }

        >.dotted-background{
            position: absolute;
            right: -45px;
            top: 0;
            width: 35%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 100% center;
            z-index: 0;
        }
    }

    button.submit-button{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    button.cancel-button{
        padding-left: 2rem;
        padding-right: 2rem;
    }


}
li.control-item.sort-filter-container {
    position: relative;
    top: -5px;
}

@media(max-width : 768px){
    .client-total-outstanding {
        .amount {
            text-align: center;
        }
    }

    .sort-filter-container button{
        margin:0 !important;
        padding:10px !important;
    }

    .vc-clients-home .new-client-card {        height: 60px;     margin: 0 0 0 -30px;   }
    .vc-plain-card.vc-business-card > .dots-section{height:86%;}
    .vc-plain-card.vc-business-card {
        padding: 1rem 2rem;
        height: 180px;
    }
    .h-align-center {display: flex;justify-content: left;}


    .vc-client-form{
        h1.title{
       margin:0;
        }
    }
    .payment-form .mb-3 {
        margin-bottom: 0 !important;
    }

}

.payment-form-modal{

    .vc-page-dialog-content.modal-big{
        height: 100vh !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

}


@media(max-width:320px){
    .vc-table-cell{
        font-size: 12px;
    }
    table.vc-table{
        margin-left:-15px;
    }      
    .form-fields-inner.payment-form .mb-3 {
        margin: 0 !important;
    }
    
}